body
{
    color: rgb(192, 54, 54);
    text-align: center;
    font-family: "Verdana";
    font-size: 20px;
    margin: 0;
    padding: 0;

}
#container
{
    width: 50%;
    padding: 1em;
    text-align: center;
    border: 1px solid rgb(83, 202, 129);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}